.container-style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-style{
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}
.text-style{
    display: none;
    pointer-events: none;
}
.opened-text-style{
    display: block;
}
