@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.eot');
    src: url('font/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/Raleway-Regular.woff2') format('woff2'),
    url('font/Raleway-Regular.woff') format('woff'),
    url('font/Raleway-Regular.ttf') format('truetype'),
    url('font/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.eot');
    src: url('font/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/Raleway-Bold.woff2') format('woff2'),
    url('font/Raleway-Bold.woff') format('woff'),
    url('font/Raleway-Bold.ttf') format('truetype'),
    url('font/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('font/Ubuntu-Regular.eot');
    src: url('font/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/Ubuntu-Regular.woff2') format('woff2'),
    url('font/Ubuntu-Regular.woff') format('woff'),
    url('font/Ubuntu-Regular.ttf') format('truetype'),
    url('font/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a9d7d1;
}
.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'raleway',sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0 25px;
}

form{
    width: 825px;
    padding: 35px 10px;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Raleway',sans-serif;
}
p{
    text-align: center;
    margin-bottom: 25px;
}
input{
    width: 260px;
    height: 27px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: gray;
    font-family: 'ubuntu',sans-serif;
    text-indent: 7px;
    outline: none;
    font-size: 16px;
}
input::placeholder{
    color: #c0c0c0;
    font-family: 'ubuntu',sans-serif;
    text-indent: 7px;
    font-size: 16px;
}
label{
    width: 368px;
    display: inline-block;
    text-align: right;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 17px;
}
.select{
    width: 123px;
    height: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    font-family: 'ubuntu',sans-serif;
    text-indent: 7px;
    font-size: 16px;
    outline: none;
}
option{
    font-family: 'ubuntu',sans-serif;
    text-indent: 7px;
    font-size: 16px;
}
.radioflex{
    display: flex;
    align-items: flex-start;
}
.radiolab{
    width: auto;
}
.radioinput{
    width: auto;
    height: auto;
    margin: 3px 5px 14px 20px;
}
.select2{
    width: 157px;
}
.checkflex{
    display: flex;
    align-items: flex-start;
}
.checkinput{
    margin: 3px 5px 14px 20px;
    width: auto;
    height: auto;
}